= form_for @diary do |f|
  - if @diary.errors.any?
    #error_explanation
      %h2= "#{pluralize(@diary.errors.count, "error")} prohibited this diary from being saved:"
      %ul
        - @diary.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
