= simple_form_for @story, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = f.input :content
  = f.hidden_field :photo_cache
  %p= label_tag :story_photo, @story.class.human_attribute_name(:photo)
  %p= image_tag @story.photo.url if @story.photo?

  = f.file_field :photo
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t('helpers.links.cancel')), stories_path, :class => 'btn'


