= simple_form_for @story, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = f.input :photos, as: :attachinary
  = f.input :content
  %p= f.label :outcomes
  %p
    %table.table.table-striped
      %tbody
        - outcome_item_ids = @story.outcomes.pluck(:outcome_item_id)
        - OutcomeItem.all.each do |outcome_item|
          %tr{class: "#{outcome_item.category}"}
            - is_checked =  "#{(outcome_item_ids.include? outcome_item.id.to_s)?  'checked': 'unchecked'}"
            %td= check_box('story[outcomes]', '', {checked: "#{is_checked}"}, outcome_item.id, nil)
            %td= outcome_item.item_no
            %td= outcome_item.description

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t('helpers.links.cancel')), stories_path, :class => 'btn'

= render 'vendor_scripts/start_attachinary'
