= simple_form_for @story, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = f.input :content
  %p= f.input :photos, as: :attachinary

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t('helpers.links.cancel')), stories_path, :class => 'btn'

:javascript
    $(document).ready( function() {
      $('.attachinary-input').attachinary();
    } );
