- model_class = Story
.page-header
  %h1=t '.title', :default => "Story for #{Date.today}"

%p
  %strong= model_class.human_attribute_name(:content) + ':'
  %br
  = @story.content
%p
  %strong= model_class.human_attribute_name(:photo) + ':'
  %br
  .galleria
    - @story.photos.each do |photo|
      = cl_image_tag(photo.path, { size: '800x800', crop: :fit, data: {title: "#{Date.today}", description: "#{@story.content}"}})

.form-actions
  = link_to t('.back', :default => t('helpers.links.back')), stories_path, :class => 'btn'
  = link_to t('.edit', :default => t('helpers.links.edit')), edit_story_path(@story), :class => 'btn'
  = link_to t('.destroy', :default => t('helpers.links.destroy')), story_path(@story), :method => 'delete', :data => { :confirm => t('.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?')) }, :class => 'btn btn-danger'

:javascript
  $(document).ready( function() {
    Galleria.loadTheme('../assets/galleria/src/themes/classic/galleria.classic.js');
    Galleria.run('.galleria');
    Galleria.configure({
        transition: 'fade',
        autoplay: true,
        lightbox: true
    });
  });

