%h1.page-header Diary #{Date.today}
- Story.all.each do |story|
  .highlight
    .row
      .col-md-5
        .galleria
          - story.photos.each do |photo|
            = cl_image_tag(photo.path, { size: '800x800', crop: :fit, data: {title: "#{Date.today}", description: "#{story.content}"}})
      .col-md-7
        .row
          .story-content
            = story.content

        - if story.outcomes.any?
          .row
            %p
            %strong Outcomes:
            %table.table.table-striped
              %tbody
                - story.outcomes.each do |outcome|
                  - outcome_item = outcome.outcome_item
                  %tr{class: "#{outcome_item.category}"}
                    %td= outcome_item.item_no
                    %td= outcome_item.description


= render 'vendor_scripts/start_galleria'

